<div class="container w-50 border text-center bg-info border-white p-5 mt-5">
    <h1>Please Register</h1>
    <div class="p-3 mt-2">
        <input type="text"  id="username" name="un1"  placeholder="Enter Username" class="form-control">
    </div>
    <div class="p-3 mt-2">
    <input type="text"  id="acnum"  name="ac1" placeholder="Enter account number" class="form-control">
</div>
<div class="p-3 mt-2">
    <input type="text" name="ps1"  id="password"  placeholder=" Enter password" class="form-control">
    <div class="p-3 mt-3 text-center">
    <button type="button" (click)="register()" class="btn btn-primary"> Register</button>
</div>
